/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/f2/0c/82/f20c82e3c4f10ac31d5a388adc843ccc.jpg'); /* Imagen en la parte superior */
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: lighten 0.1; /* Ajusta la visibilidad del fondo */
    color: #0c0c0c;
}

/* Encabezado */
header {
    background-image: url('https://th.bing.com/th/id/OIP.9Gvic9xCX-BUc1kF_VYPegHaDx?rs=1&pid=ImgDetMain'); /* Reemplaza con la URL de tu imagen de banner */
    background-size: auto;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    margin: 0;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Menú */
.menu {
    list-style: none;
    padding: 0;
    margin: 50px 0;
    text-align: left;
    position: absolute;
    top: 55%;
    left: 150px; /* Ajusta esta distancia según sea necesario */
    transform: translateY(-50%);
}

.menu li {
    margin: 20px 0;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    text-shadow: #070606 1px 1px 1px;
}

.menu a:hover {
    background-color: #333;
    color: white;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* Texto debajo del banner */
.banner-text {
    text-align: center;
    margin-top: 40px;
    font-size: 1.2em;
    color: #333;
}

/* Contenedor de texto */ .banner-text p { 
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */ 
    padding: 10px; 
    margin: 10px auto; 
    border-radius: 10px; 
    max-width: 1200px; /* Ajusta el ancho máximo del contenedor */ 
    text-align: center; /* Centra el texto dentro del contenedor */ 
}

/* Imagen en la parte derecha */
.right-image {
    position: absolute;
    top: 63%;
    right: 65px; /* Ajusta esta distancia según sea necesario */
    transform: translateY(-50%);
}

.right-image img {
    width: 500px; /* Aumenta el tamaño de la imagen */
    height: auto;
    border-radius: 10px; /* Añade un borde redondeado para un toque estético */ }